.role li {
    display: inline;
}

#details-main-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    align-content: center;
    float: center;
}

#side-list {
    padding-bottom: 20px;
}