.role li {
    display: inline;
}

#details-main-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    align-content: center;
    float: center;
}

.side-list {
    padding-bottom: 10px;
}

.side-button {
    color: #11260E;
    width: 100+'%';
    text-decoration: none;
}

.side-button:hover {
    color: #ffffff;
    background-color: #11260E;
}